.container{
    background-color: red;
    display:flex;
    flex-wrap: wrap;
    width: 450px;
    padding: 10px;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 100px;
    color: black;
    background-color: white;
    display: flex;
    height: 100px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.round-border{
    border-radius: 50px;
    border: 50px solid black;
}

    

}